<div id="<%= dom_id store %>">
  <tr>
  <td>
    <strong><%= store.storeid %></strong>
  </td>
  
  <td>
    <%= store.storename %>
  </td>

  <td>
    <%= store.mail %>
  </td>

  <td>
    <%= store.address %>
  </td>

  <td>
    <%= link_to "詳細", store %>
  </td>
  </tr>

</div>
