<div id="<%= dom_id customer %>">
  <tr>
  <td>
    <strong><%= customer.custid %></strong>
  </td>

  <td>
    <%= customer.name %>
  </td>

  <td>
    <%= customer.age %>
  </td>

  <td>
    <%= customer.email %>
  </td>
<!--
  <td>
    <strong>Pass:</strong>
    <%= customer.pass %>
  </td>
-->
  <td>
    <%= link_to "詳細", customer %>
  </td>
  </tr>

</div>
