

<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4"><%= @customer.name %></h1>
  <p class="lead">
    年齢: <%= @customer.age %> <br>
    メールアドレス: <%= @customer.email %>

    <table class="table table-hover table-striped table-bordered">
      <thead class="table-dark">
        <th>注文ID</th>
        <th>店舗ID</th>
        <th>顧客ID</th>
        <th>金額</th>
        <th>日付</th>
        <th>詳細</th>
      </thead>
      <tbody>
        <div id="orders">
          <% Order.where(customer_id: @customer.custid).each do |order| %>
          <%= render order %>
          <% end %>
        </div>
      </tbody>
    </table>
  </p>
  <p class="lead">
    <div style="margin-left:auto;margin-right: 0;display: inline-block;">
    <%= link_to "更新", edit_customer_path(@customer), class:"btn btn-dark"%>
    </div>
    <div style="margin-left:0;margin-right: auto;display: inline-block;">
    <%= button_to "削除", @customer, method: :delete, class:"btn btn-danger" %>
    </div>
  </p>
  <hr class="my-4">
</div>

<div style="margin: auto;text-align: right;">
  <%= link_to "戻る", customers_path, class:"btn btn-secondary" %>
</div>
