<div id="<%= dom_id storage %>">
  <tr>
  <td>
    <strong><%= storage.stores_id %></strong>
  </td>
  
  <td>
    <strong><%= storage.books_id %></strong>
  </td>

  <td>
    <%= storage.stornum %>
  </td>

  <td>
    <%= storage.block %>
  </td>

  <td>
    <%= link_to "詳細", storage %>
  </td>
  </tr>

</div>
